.elementor-8266 .elementor-element.elementor-element-2ec909c{margin-top:50px;margin-bottom:30px;}.elementor-8266 .elementor-element.elementor-element-70c6d1b .elementor-heading-title{color:var( --e-global-color-8859832 );}.elementor-8266 .elementor-element.elementor-element-db12825{font-size:18px;}